# SQL Query Buddy - Testing Notebook

This notebook demonstrates how to use SQL Query Buddy to convert natural language questions into SQL queries, execute them, and get AI-driven insights.

In [1]:
# Install required packages (run once)
# !pip install -r requirements.txt

In [2]:
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

# Set your OpenAI API key if not in .env file
# os.environ["OPENAI_API_KEY"] = "your-api-key-here"

# Database configuration
DATABASE_URL = os.getenv("DATABASE_URL", "sqlite:///sample_database.db")
VECTOR_DB_PATH = os.getenv("VECTOR_DB_PATH", "./vector_store")

In [3]:
# Setup sample database (run once to create sample data)
from setup_sample_database import create_sample_database

# Create sample database
create_sample_database("sample_database.db")
print("Sample database created!")

Creating tables...
Inserting sample data...
Updating customer statistics...
✅ Sample database created successfully at sample_database.db
   - 100 customers
   - 12 products
   - 500 orders
   - Multiple order items
Sample database created!

In [4]:
# Initialize SQL Query Buddy components
from vector_store import VectorStoreManager
from sql_generator import SQLGenerator
from query_executor import QueryExecutor
from insight_generator import InsightGenerator
from context_manager import ContextManager

# Initialize vector store
print("Initializing vector store...")
vector_store = VectorStoreManager(
    database_url=DATABASE_URL,
    vector_db_path=VECTOR_DB_PATH
)
vector_store.build_vector_store(include_samples=True)
print("✅ Vector store ready!")

# Initialize SQL generator
sql_generator = SQLGenerator(
    vector_store_manager=vector_store,
    model_name="gpt-4-turbo-preview",
    temperature=0.1
)

# Initialize query executor
query_executor = QueryExecutor(
    database_url=DATABASE_URL,
    sql_generator=sql_generator
)

# Initialize insight generator
insight_generator = InsightGenerator(
    model_name="gpt-4-turbo-preview",
    temperature=0.3
)

# Initialize context manager
context_manager = ContextManager(max_history=20)

print("✅ All components initialized!")

Initializing vector store...
Loading database schema...
Loading sample data...
Creating vector store with 9 documents...

/home/unit-s/Documents/Cursor Projects/vector_store.py:109: LangChainDeprecationWarning: The class `Chroma` was deprecated in LangChain 0.2.9 and will be removed in 1.0. An updated version of the class exists in the `langchain-chroma package and should be used instead. To use it run `pip install -U `langchain-chroma` and import as `from `langchain_chroma import Chroma``.
  self.vectorstore = Chroma(

Loaded existing vector store.
✅ Vector store ready!
✅ All components initialized!

In [5]:
# Example 1: Simple query
question = "Show me the top 5 customers by total sales"

# Generate SQL
print("Question:", question)
print("\n" + "="*80)
sql_result = sql_generator.generate_sql(
    question=question,
    conversation_history=context_manager.get_conversation_history()
)

print("\nGenerated SQL:")
print(sql_result["sql"])

print("\nExplanation:")
print(sql_result["explanation"])

# Execute query
results = query_executor.execute_safe_query(sql_result["sql"], return_dataframe=True)

if results["success"]:
    print(f"\n✅ Query executed successfully! ({results['row_count']} rows)")
    print("\nResults:")
    display(results["data"])
    
    # Generate insights
    insights = insight_generator.generate_insights(
        query=sql_result["sql"],
        results=results,
        original_question=question
    )
    print("\n" + "="*80)
    print("AI Insights:")
    print(insights)
    
    # Update context
    context_manager.add_exchange(
        question=question,
        sql_query=sql_result["sql"],
        results=results,
        explanation=sql_result["explanation"],
        insights=insights
    )
else:
    print(f"\n❌ Error: {results['error']}")

Question: Show me the top 5 customers by total sales

================================================================================

Generated SQL:
SELECT c.customer_id, c.first_name, c.last_name, SUM(o.total_amount) AS total_sales
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id
ORDER BY total_sales DESC
LIMIT 5

Explanation:
Alright, let's break down this SQL query into simple, easy-to-understand parts. Imagine we're dealing with two lists (or tables, as they're called in SQL): one is a list of customers, and the other is a list of orders. Each customer has an ID, a first name, and a last name. Each order includes information about which customer made the order and how much the order was worth (the total amount).

Here's what the query does, step by step:

1. **Selecting Columns**: The query picks out specific pieces of information to show in the results:
   - The customer's ID (`customer_id`)
   - The customer's first name (`first_name`)
   - The customer's last name (`last_name`)
   - The total amount of money the customer has spent on all their orders (`SUM(o.total_amount)`), which is given a nickname `total_sales` for easy reference.

2. **Joining Tables**: Since the information about customers and orders is in two separate lists, the query connects these lists using a common link, the `customer_id`. This is like saying, "For each order, find the customer who made it."

3. **Grouping Data**: The query then groups all the orders by each customer. This means it collects all the orders made by the same customer together so that it can do some calculations on them as a group.

4. **Calculating Total Sales**: For each group of orders (which corresponds to each customer), the query adds up the total amount spent on all those orders. This sum is what we're calling `total_sales`.

5. **Sorting Results**: After calculating the total sales for each customer, the query sorts these customers starting with the one who has spent the most money down to the ones who have spent less. This is what "ORDER BY total_sales DESC" does—`DESC` means "in descending order," from highest to lowest.

6. **Limiting the Number of Results**: Finally, the query only shows the top 5 customers. These are the customers who have spent the most money on their orders out of all the customers in the list.

So, in plain English, this query is asking, "Show me the top 5 customers who have spent the most money on their orders, including their names and the total amount they've spent, and list them starting with the highest spender."

✅ Query executed successfully! (5 rows)

Results:

   customer_id first_name last_name  total_sales
0           39      Grace   Jackson     17054.43
1           78       Paul     Moore     13484.36
2           63        Mia  Anderson     13029.43
3           88      Henry    Taylor     12269.49
4           99       Noah    Martin     11399.63

================================================================================
AI Insights:
### Key Findings and Patterns

1. **Top Spender Dominance**: Grace Jackson leads with a total sales amount of $17,054.43, which is significantly higher than the others, indicating a potential VIP customer status.
2. **High Spending Group**: The top 5 customers have a combined total sales of $67,237.34, with each contributing significantly to this total, showcasing a high-value customer segment.

### Notable Statistics

1. **Sales Distribution**: The difference between the highest (Grace Jackson with $17,054.43) and lowest (Noah Martin with $11,399.63) total sales among the top 5 customers is $5,654.80, indicating a wide range of spending within the top tier.
2. **Average Sales**: The average total sales amount among the top 5 customers is $13,447.47, which is quite high, suggesting that these customers are substantially contributing to revenue.

### Anomalies or Outliers

1. **No Middle Ground**: The gap between the highest and the lowest spender among the top 5 is notable, suggesting that even within the top spenders, there's a significant variance in spending habits.

### Business Implications

1. **VIP Customer Recognition**: Grace Jackson, as the top spender, could be recognized as a VIP customer, potentially leading to targeted marketing strategies or loyalty programs to maintain or increase her engagement.
2. **Customer Segmentation**: The top 5 customers, due to their high spending, should be considered a separate customer segment for personalized marketing campaigns, loyalty programs, and exclusive offers to enhance retention and increase sales.

### Actionable Insights

1. **Personalized Engagement**: Develop personalized engagement strategies for these top 5 customers, including exclusive offers, early access to new products, and personalized communication, to enhance their loyalty and spending.
2. **Spend Analysis for Retention**: Conduct a detailed analysis of the purchasing patterns of these top customers to identify the products or services they prefer, which can inform inventory decisions, marketing strategies, and product development to cater to this high-value segment.

In [6]:
# Example 2: Follow-up question (uses context from previous query)
question = "Now filter them to California only"

print("Question:", question)
print("\n" + "="*80)

sql_result = sql_generator.generate_sql(
    question=question,
    conversation_history=context_manager.get_conversation_history()
)

print("\nGenerated SQL:")
print(sql_result["sql"])

print("\nExplanation:")
print(sql_result["explanation"])

# Execute query
results = query_executor.execute_safe_query(sql_result["sql"], return_dataframe=True)

if results["success"]:
    print(f"\n✅ Query executed successfully! ({results['row_count']} rows)")
    print("\nResults:")
    display(results["data"])
    
    # Generate insights
    insights = insight_generator.generate_insights(
        query=sql_result["sql"],
        results=results,
        original_question=question
    )
    print("\n" + "="*80)
    print("AI Insights:")
    print(insights)
    
    # Update context
    context_manager.add_exchange(
        question=question,
        sql_query=sql_result["sql"],
        results=results,
        explanation=sql_result["explanation"],
        insights=insights
    )
else:
    print(f"\n❌ Error: {results['error']}")

Question: Now filter them to California only

================================================================================

Generated SQL:
SELECT c.customer_id, c.first_name, c.last_name, SUM(o.total_amount) AS total_sales
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
WHERE c.state = 'California'
GROUP BY c.customer_id
ORDER BY total_sales DESC
LIMIT 5

Explanation:
Alright, let's break down this SQL query into simple, easy-to-understand parts. Imagine we're dealing with two lists (or tables) of information. One list is called "customers," and the other is called "orders." Each customer has a unique ID, a first name, and a last name. Each order is linked to a customer (through the customer's unique ID) and has a total amount of money spent on that order.

Here's what the query does, step by step:

1. **Selecting Columns**: We're interested in gathering information about each customer's ID, first name, and last name from the "customers" list. We also want to know the total amount of money each customer has spent on their orders. This total amount spent is not something directly listed in our tables; we'll need to calculate it.

2. **Joining Tables**: To calculate the total amount spent by each customer, we need to bring the "customers" and "orders" lists together. We do this by matching each order to the customer who made it, using the customer's unique ID. This is like putting puzzle pieces together where one piece is a customer, and the matching piece is all the orders that customer has made.

3. **Filtering**: We're only interested in customers who live in California. So, we filter our combined list to include only those customers. It's like going through our puzzle pieces and only keeping the ones that have "California" written on them.

4. **Grouping**: Now, we want to organize our information by customer. This means we'll group all the orders for each customer together so we can calculate the total amount they've spent. It's like sorting our puzzle pieces into piles, where each pile represents all the orders made by a single customer.

5. **Calculating Totals**: For each group (or pile of orders) we've made, we'll add up the total amount spent. This gives us the total sales for each customer. It's like adding up the numbers written on each order in a customer's pile to get their total spending.

6. **Sorting**: We want to know who the top spenders are, so we'll sort our customers based on the total amount they've spent, from highest to lowest. It's like rearranging our piles of orders so the biggest piles (highest spenders) are at the front.

7. **Limiting**: Finally, we're only interested in the top 5 spenders. So, we'll only look at the first 5 customers from our sorted list. It's like taking the first 5 piles from our sorted arrangement and ignoring the rest.

In summary, this query helps us find out who the top 5 spenders are among customers living in California, by calculating and adding up all the money they've spent on their orders, and then presenting us with their names and total spending.

✅ Query executed successfully! (5 rows)

Results:

   customer_id first_name  last_name  total_sales
0           99       Noah     Martin     11399.63
1            2      Grace     Martin      4994.79
2           32     Olivia     Taylor      4849.80
3           80       Yara  Hernandez      4714.59
4           43      Karen    Johnson      2939.46

================================================================================
AI Insights:
Based on the SQL query results for the top 5 customers by total sales in California, here are the key insights and actionable recommendations:

1. **Dominance of Top Customer**: Noah Martin leads with a total sales amount of $11,399.63, which is more than double the sales of the second-highest customer, Grace Martin, at $4,994.79. This indicates a significant reliance on Noah Martin for revenue, suggesting a potential risk if this customer's loyalty is not maintained.

2. **Wide Range in Sales**: The total sales range from $2,939.46 to $11,399.63 among the top 5 customers, showing a wide variance in customer value. This highlights the importance of understanding the different needs and purchasing behaviors of high-value customers to tailor marketing and sales strategies effectively.

3. **Family Ties in Top Spenders**: Notably, two of the top spenders share the last name Martin (Noah and Grace), which could indicate family or business-related purchasing patterns. This might suggest an opportunity for targeted family or group offers to encourage bulk purchasing or referrals within networks.

4. **Opportunities for Growth**: Given that the total sales from these top 5 customers amount to $28,898.27, with a significant drop from the first to the fifth (from $11,399.63 to $2,939.46), there is an opportunity to increase sales among lower-spending top customers. Implementing loyalty programs, personalized marketing campaigns, or exclusive offers could help in elevating their spending closer to the top-tier levels.

**Actionable Insights**:
- **Customer Retention for Noah Martin**: Develop personalized engagement strategies and loyalty programs to ensure the retention of Noah Martin, given his significant contribution to sales.
- **Cross-Sell and Up-Sell Strategies**: For customers like Grace Martin, Olivia Taylor, Yara Hernandez, and Karen Johnson, who show potential with moderate spending, tailored marketing strategies focusing on cross-selling and up-selling could boost their sales contribution.
- **Family or Group Offers**: Investigate the relationship between customers with the same last name and consider introducing family or group discount offers to leverage these connections for increased sales.
- **Segmentation and Personalization**: Further analyze the purchasing behavior of these top customers to identify patterns and preferences, enabling more personalized and effective sales strategies.

## Example 3: Complex Multi-Table Query

In [7]:
# Example 3: Complex query with joins
question = "What's the total revenue from product sales by category this year?"

print("Question:", question)
print("\n" + "="*80)

sql_result = sql_generator.generate_sql(
    question=question,
    conversation_history=context_manager.get_conversation_history()
)

print("\nGenerated SQL:")
print(sql_result["sql"])

print("\nExplanation:")
print(sql_result["explanation"])

# Execute query
results = query_executor.execute_safe_query(sql_result["sql"], return_dataframe=True)

if results["success"]:
    print(f"\n✅ Query executed successfully! ({results['row_count']} rows)")
    print("\nResults:")
    display(results["data"])
    
    # Generate insights
    insights = insight_generator.generate_insights(
        query=sql_result["sql"],
        results=results,
        original_question=question
    )
    print("\n" + "="*80)
    print("AI Insights:")
    print(insights)
    
    # Update context
    context_manager.add_exchange(
        question=question,
        sql_query=sql_result["sql"],
        results=results,
        explanation=sql_result["explanation"],
        insights=insights
    )
else:
    print(f"\n❌ Error: {results['error']}")

Question: What's the total revenue from product sales by category this year?

================================================================================

Generated SQL:
SELECT p.category, SUM(oi.subtotal) AS total_revenue
FROM order_items oi
JOIN products p ON oi.product_id = p.product_id
JOIN orders o ON oi.order_id = o.order_id
WHERE o.order_date >= '2023-01-01' AND o.order_date <= '2023-12-31'
GROUP BY p.category
ORDER BY total_revenue DESC

Explanation:
Alright, let's break down this SQL query into simple, easy-to-understand parts. Imagine we're dealing with a store's database that keeps track of all the products they sell, the orders made by customers, and the details of what's included in those orders. This query is like asking a very specific question about the store's sales data.

1. **Tables being queried:**
   - The query involves three tables:
     - `order_items`: Contains details about items in each order, like which product was bought and in what quantity.
     - `products`: Holds information about the products, including what category each product belongs to.
     - `orders`: Records of all the orders made, including when each order was placed.

2. **Columns selected:**
   - Two main pieces of information are being selected:
     - `p.category`: The category of each product (like electronics, clothing, etc.).
     - `SUM(oi.subtotal) AS total_revenue`: The total revenue generated from each product category. Here, `subtotal` likely represents the total price paid for each item in an order, and `SUM` adds up these subtotals to get the total revenue for each category.

3. **Filters or conditions applied:**
   - The query is only interested in orders made within the year 2023. It looks at the `order_date` in the `orders` table and filters to include only the orders placed from January 1, 2023, to December 31, 2023.

4. **Aggregations or calculations performed:**
   - The query performs a calculation to find the total revenue. It does this by summing up (`SUM`) the `subtotal` for all order items that fall into each product category. This gives us a total revenue figure for each category.

5. **Sorting or limiting is done:**
   - After calculating the total revenue for each category, the query sorts these categories in descending order (`DESC`) based on their total revenue. This means the category that generated the most revenue will be listed first, and the one with the least revenue will be at the bottom.

In essence, this SQL query is asking, "For each product category, how much total revenue did we make from orders placed in 2023, and can you list these categories starting with the highest revenue generator?" It's a way of summarizing sales performance by category, helping the store understand which product categories were the most profitable during the year.

✅ Query executed successfully! (0 rows)

Results:

Empty DataFrame
Columns: [category, total_revenue]
Index: []

================================================================================
AI Insights:
No insights available: Query returned no rows.

## Example 4: Query Optimization

In [8]:
# Example 4: Get optimization suggestions
sample_query = """
SELECT c.first_name, c.last_name, o.total_amount, o.order_date
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
WHERE o.order_date > '2024-01-01'
ORDER BY o.total_amount DESC
"""

print("Original Query:")
print(sample_query)

optimization = query_executor.get_optimization_suggestions(sample_query)

print("\n" + "="*80)
print("Optimization Suggestions:")
print(optimization["suggestions"])

Original Query:

SELECT c.first_name, c.last_name, o.total_amount, o.order_date
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
WHERE o.order_date > '2024-01-01'
ORDER BY o.total_amount DESC


================================================================================
Optimization Suggestions:
This SQL query retrieves the first name, last name, total amount, and order date of orders from customers that have an order date after January 1, 2024, and orders the results by the total amount in descending order. Here are some optimizations to consider:

1. **Indexes on JOIN and WHERE Columns**:
   - Ensure there is an index on `orders.customer_id` since it's used in a JOIN condition. This will speed up the join operation.
   - An index on `orders.order_date` is crucial because the WHERE clause filters on this column. This will make the date range filter much more efficient.
   - Consider a composite index on `orders(customer_id, order_date)` if most queries filter on `customer_id` and `order_date` together, though in this specific case, since the filter is only on `order_date`, the single-column index on `order_date` might be more beneficial.

2. **Selective Columns**:
   - The query is already optimized in terms of selecting only necessary columns, which is good. It doesn't fetch unnecessary data.

3. **Efficient JOINs**:
   - The JOIN operation seems efficient given the current context. However, if the `customers` table is significantly larger than the `orders` table, and if not all customers have orders after the specified date, it might be more efficient to filter the `orders` table first in a subquery or CTE (Common Table Expression) and then join to `customers`. This could reduce the size of the dataset the join operation has to work on.

4. **Missing WHERE Clause Filters**:
   - The query already includes a relevant WHERE clause filter. If there are additional filters that could narrow down the result set further, consider adding them. For example, if you're only interested in orders above a certain `total_amount`, adding such a condition could reduce the result set and speed up the query.

5. **Suboptimal Aggregations**:
   - There are no aggregations in this query, so this point does not apply. However, if you were to add aggregations, ensure that they are necessary and consider whether they could be made more efficient with indexes or by reducing the dataset size beforehand.

6. **Missing LIMIT Clause**:
   - If the business case allows, adding a `LIMIT` clause could significantly reduce the amount of data sent to the client, especially if you're only interested in the top N orders. For example, `LIMIT 10` would give you the top 10 orders by `total_amount` since you're ordering in descending order.

7. **Consider Query Cost with ORDER BY**:
   - Ordering can be expensive, especially on large datasets. The indexes suggested above (especially on `orders.order_date` and `orders.total_amount`) can help. However, if the dataset is very large, consider whether the full sort is necessary or if a `LIMIT` could be applied.

In summary, the primary optimizations involve ensuring appropriate indexes are in place and considering the use of a `LIMIT` clause if the business case allows for it.

## Example 5: View Conversation History

In [9]:
# View conversation summary
summary = context_manager.get_summary()
print("Conversation Summary:")
print(f"  Total queries: {summary['total_queries']}")
print(f"  Successful queries: {summary['successful_queries']}")
print(f"  Success rate: {summary['success_rate']:.2%}")
print(f"  Total rows returned: {summary['total_rows_returned']}")
print(f"  Conversation turns: {summary['conversation_turns']}")

print("\n" + "="*80)
print("Recent Context:")
print(context_manager.get_recent_context(n=3))

Conversation Summary:
  Total queries: 3
  Successful queries: 3
  Success rate: 100.00%
  Total rows returned: 10
  Conversation turns: 3

================================================================================
Recent Context:
Recent Conversation Context:

1. Q: Show me the top 5 customers by total sales
   SQL: SELECT c.customer_id, c.first_name, c.last_name, SUM(o.total_amount) AS total_sales
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id
ORDER BY total_sales DESC
LIMIT 5
   Results: 5 rows

2. Q: Now filter them to California only
   SQL: SELECT c.customer_id, c.first_name, c.last_name, SUM(o.total_amount) AS total_sales
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
WHERE c.state = 'California'
GROUP BY c.customer_id
ORDER BY total_sales DESC
LIMIT 5
   Results: 5 rows

3. Q: What's the total revenue from product sales by category this year?
   SQL: SELECT p.category, SUM(oi.subtotal) AS total_revenue
FROM order_items oi
JOIN products p ON oi.product_id = p.product_id
JOIN orders o ON oi.order_id = o.order_id
WHERE o.order_date >= '2023-01-01' AND o.order_date <= '2023-12-31'
GROUP BY p.category
ORDER BY total_revenue DESC

## Example 6: Test RAG Schema Retrieval

In [10]:
# Test RAG: Search for relevant schema information
test_query = "customer sales revenue"

print(f"Searching for relevant schemas for: '{test_query}'")
print("\n" + "="*80)

relevant_schemas = vector_store.search_relevant_schemas(test_query, k=3)

for i, schema in enumerate(relevant_schemas, 1):
    print(f"\n--- Result {i} ---")
    print(schema[:500] + "..." if len(schema) > 500 else schema)

Searching for relevant schemas for: 'customer sales revenue'

================================================================================

--- Result 1 ---
Sample Data:
Sample data from customers:
customer_id | first_name | last_name | email | phone | state | city | registration_date | total_orders | total_spent
--------------------------------------------------------------------------------
1 | Paul | Brown | paul.brown0@email.com | 555-7601 | North Carolina | Philadelphia | 2023-01-29 | 2 | 1014.8500000000001
2 | Zoe | Lee | zoe.lee1@email.com | 555-6445 | North Carolina | Philadelphia | 2023-12-07 | 7 | 8894.55
3 | Bob | Davis | bob.davis2@email...

--- Result 2 ---
Sample Data:
Sample data from orders:
order_id | customer_id | order_date | total_amount | status | shipping_state
--------------------------------------------------------------------------------
1 | 73 | 2024-02-12 | 59.98 | completed | Pennsylvania
2 | 76 | 2024-11-02 | 174.94 | cancelled | Michigan
3 | 69 | 2024-02-01 | 849.9000000000001 | shipped | Florida

--- Result 3 ---
Sample Data:
Sample data from products:
product_id | product_name | category | price | stock_quantity | description
--------------------------------------------------------------------------------
1 | Laptop Pro 15 | Electronics | 1299.99 | 50 | High-quality Laptop Pro 15
2 | Wireless Mouse | Electronics | 29.99 | 200 | High-quality Wireless Mouse
3 | Mechanical Keyboard | Electronics | 149.99 | 100 | High-quality Mechanical Keyboard